#roundCount{
    text-align: center;
    font-size: 46px;
    margin: 16px 0;
}

#selectID{
    padding: 5px 10px;
    border-radius: 7px;
}
#selectID *{
    border-radius: 10px;
    background-color: #3e8e41;
}
button {
    border-radius: 7px;
    border: none;
    background-color: #5995DA;
    font-family: "Rage Italic", sans-serif;
    font-size: 16px;
    padding: 4px 12px;
}

#score, #status{
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
}

.versus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 48px;
}
.versus img{
    scale: 1.5;
}
button:hover{
    background-color: dodgerblue;
    scale: 1.0125;
}

p{
    color: dimgray;
}