#roundCount{
    text-align: center;
    font-size: 46px;
    margin: 16px 0;
}

#score, #status{
    text-align: center;
    font-size: 25px;
    margin: 20px 0;
}

.weapon{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.weapon img{
    animation: activeButton;
    border: 2px solid #1F2937;
    cursor: pointer;
    padding: 20px;
    scale: 1.5;
    transition: all 0.4s ease;

}

.weapon img:hover{
    scale: 1.6;
    box-shadow: 0 0 20px 1px;
}

#battle{
    display: none;
}


.versus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 48px;
}
.versus img{
    scale: 1.5;
}

p{
    color: dimgray;
}

@keyframes activeButton {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1.6);
    }
}