h1{
    color: darkgray;
    width: 100%;
    height: 100px;
    text-align: center;
}

footer{
    position: absolute;
    color: darkgray;
    width: 100%;
    height: 100px;
    text-align: center;
}