.container{display: flex;
    justify-content: space-between;
    width: 15%;
    min-width: 225px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: darkorange;
}
#input_container{
    display: flex;
    flex-direction: column;
}
.container div{margin: 5px;
    display: flex;
    justify-content: space-between;
}

.container b{
    margin-right: 10px;
}
h1{
    margin: 10px;
}
#age{
    width: 3em;
}

#out{
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 2;
}
table{border: 1px solid black;
    text-align: center;
}
table td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

table td:last-child{
    border-right: 0px;
}