body{
    width: 1800px;
    height: 900px;
    /*background-color: yellow;*/
}

div.container{
    display: flex;
    margin: 10px    ;
}

h1{
    color: darkgray;
    width: 95%;
    height: 100px;
    text-align: center;
}

footer{
    position: relative;
    width: 95%;
    height: 100px;
    text-align: center;
    margin: 40px 0 0 40px;
}

.img1 {
    position: absolute;
    width: 200px;
    height: 150px;
    margin: 10px;
    /*margin-left: 200px;*/
}

div.first_collum{
    /*background-color: dimgrey;*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

div.secound_collum{
    width: 700px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
}

.text_form{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 5px;
    padding-right: 300px;
}

aside {
    background: #f0f0f0;
    padding: 10px;
    width: 200px;
    float: right;
}
div>h2{
    margin-bottom: 20px;
    font-family: Candara;
    color: dimgrey;
}