body{
    width: 100vw;
    height: 100vh;
}

div.container{
    display: flex;
    margin: 10px;
    justify-content: center;
}
div.head-container{
    display: flex;
    margin: 10px;
    flex-direction: row-reverse;
    justify-content: center;
}
h1{
    color: darkgray;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-right: 200px;
}

footer{
    background-color: aquamarine;
    width: 100% ;
    height: 50px;
    margin:  0 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    position: relative;
    display: flex;
    width: 200px;
    height: 150px;
    margin-left: 40px;
}

div.first_column{
    width: 200px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
}

#form{
    background-color: bisque;
    padding: 10px;
}

div.second_column{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text_form{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 5px;
    padding:0 100px;
}

div.form>p{
    text-align: center;
}

div.form div{
    padding-left: 255px;
}
div.form_checkbox{
    text-align: center;
}
div.form_checkbox div{
    display: flex;
    align-items: start;
    padding-left: 255px;
}

div.form_file{
    text-align: center;
}

div.textarea{
    text-align: center;
}

.select, .buttons{
    text-align: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #3e8e41; /* Darker green */
}

aside {
    background: #f0f0f0;
    padding: 10px;
    width: 200px;
    height: 98%;
    margin-left: 10px;

}

div>h2{
    margin-bottom: 20px;
    font-family: Candara;
    color: dimgrey;
}